<div style="display: flex; align-items: center; justify-content: center;">
    <svg id="train" #train [attr.viewBox]="viewportSizeStr"></svg>
</div>

<div style="display: flex; flex-flow: column; position: fixed; top: 100px; right: 10px;">
    <a class="button" style="margin-bottom: 7px;" (click)="zoomIn()">
        <span class="icon is-small">
            <i class="fa fa-plus"></i>
        </span>
    </a>
    <a class="button" (click)="zoomOut()">
        <span class="icon is-small">
            <i class="fa fa-minus"></i>
        </span>
    </a>
</div>
