.tabs>ul>li:not(.is-active)>a {
    color: #fafafa;
}

.is-active * {
    color: #F01414;
}

.hide {
    display: none;
}

.button {
    background-color: #F01414;
    border-color: #ffffff;
}

.button * {
    color: #ffffff;
}
